################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MDLinMVC/bin
/MDLinMVC/App_Data/MDLinMVCContext-20161013132325_log.ldf
/MDLinMVC/App_Data/MDLinMVCContext-20161013132325.mdf
